.cabecalho__menor {
    height: 80px;
}

.cardapio__container {
    background-color: rgb(212,203,180);
    width: 95%;
    margin: 20px auto 0 auto;
    border-radius: 10px;
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 35px;
    justify-content: space-around;
}
