@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

html {
    background: url(https://images2.alphacoders.com/862/862730.jpg);
    background-repeat: repeat;
    background-size: 100%;
    
}

.cabecalho {
    background-color: rgb(212,203,180);
    display: flex;
    align-items: center;
    padding: 0 3rem;
    justify-content: space-around;
    border-radius: 0 0 15px 15px;
    font-weight: bolder;
    font-family: sans-serif;
}

header img {
    height: 80px;
    margin-left: 1rem;
}

.titulo {
    font-size: 50px;
}

.iniciar-container {
    margin-top: 15rem;
    height: 4rem;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.3s;
}

.iniciar-container:hover {
    transform: scale(1.15);
}

.iniciar-atendimento{
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.9);
    background-color:  rgb(212,203,180);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.5rem;
    text-decoration: none;
    color: black;
    border-radius: 7px;
}

.tipo {
    margin-top: 5rem;
}

.cards img {
    width: 250px;
    border-radius: 10px;
    margin: 0 15px;
}

.card-inicio img {
    width: 250px;
    border-radius: 10px;
    margin: 0 15px;
}

.cards h3, .card-inicio h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
}

.cards a, .card-inicio a {
    text-decoration: none;
    color: black;
}

.cards {
    width: 280px;
    height: 220px;
    border-radius: 8px;
    transition: all 0.3s;
    margin-bottom: 20px;
}

.card-inicio {
    background-color: antiquewhite;
    width: 280px;
    height: 220px;
    border-radius: 8px;
    transition: all 0.3s;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 0.3s;
}

.cards:hover, .card-inicio:hover {
    transform: scale(1.15);
}

.tipo__cards {
    display: flex;
    justify-content: space-around;
}

.call {
    text-align: center;
    font-size: 1.1rem;
    width: 190px;
    text-wrap: nowrap;
    border: none;
    border-radius: 7px;
    background-color: white;
    padding: 1rem;   
    transition: all 0.4s;
    text-transform: uppercase;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.9);
}

.call:hover {
    transform: scale(1.15);
}